<%- include('partials/header') -%>
<ul class="search-results">
  <% for(var i=0; i<profiles.length; i++) {%>
    <a href="/profile/<%= profiles[i]._id %>"> 
      <li class="col-6 justify-content-between mt-5">
        <section class="search-float"> 
          <img src="<%=profiles[i].image %>">
          <section class="description">
            <span class="name"><%=profiles[i].name %></span>
            <p><span>
              <%=profiles[i].role %>
            </span> at <span class="businessName">
              <%=profiles[i].businessName %>
  
            </span></p>
            <p>Services:<span class="services"> <%=profiles[i].services %></span></p>
          </section>
        </section>
          
      </li>
    </a>
    
  <% } %>
  </ul>
<%- include('partials/footer') -%>